version: "3.0"
services:
  postgres:
    image: postgres:17
    container_name: bp_postgres
    networks:
      - default-network
    environment:
      POSTGRES_USER: bpuser
      POSTGRES_PASSWORD: bppassword
      POSTGRES_DB: bp_database
      TZ: UTC
    ports:
      - 5432:5432
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
  bp-service:
    image: bp-service:0.0.1-SNAPSHOT
    container_name: bp-service
    networks:
      - default-network
    ports:
      - 8443:8443
    depends_on:
      - postgres
  nginx:
    image: nginx:latest
    container_name: bp_nginx
    networks:
      - default-network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/people_register_dev.crt:/etc/nginx/people_register_dev.crt:ro
      - ./nginx/people_register_dev.privkey.pem:/etc/nginx/people_register_dev.privkey.pem:ro
    ports:
      - "443:443"
    healthcheck:
      test: ["CMD", "service", "nginx", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - bp-service
  prometheus:
    image: prom/prometheus
    container_name: bp_prometheus
    networks:
      - default-network
    command:
      - '--web.external-url=/prometheus/'
      - '--web.config.file=/prometheus/web-config.yml'
    volumes:
      - ./prometheus/prometheus.yml:/prometheus/prometheus.yml:ro
      - ./prometheus/web-config.yml:/prometheus/web-config.yml:ro
      - ./prometheus/data:/prometheus
      - ./prometheus/unsafe_root_ca.crt:/prometheus/unsafe_root_ca.crt:ro
      - ./prometheus/prometheus_dev_unsafe_root_ca.crt:/prometheus/prometheus_dev_unsafe_root_ca.crt:ro
      - ./prometheus/prometheus_dev_unsafe_root_ca.privkey.pem:/prometheus/prometheus_dev_unsafe_root_ca.privkey.pem:ro
    ports:
      - "9090:9090"
  grafana:
    image: grafana/grafana-oss
    container_name: bp_grafana
    networks:
      - default-network
#    restart: unless-stopped
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini:ro
      - ./grafana/data:/var/lib/grafana
      - ./grafana/grafana_dev_unsafe_root_ca.crt:/grafana/grafana_dev_unsafe_root_ca.crt:ro
      - ./grafana/grafana_dev_unsafe_root_ca.privkey.pem:/grafana/grafana_dev_unsafe_root_ca.privkey.pem:ro
    ports:
      - "3000:3000"
  zipkin:
    image: openzipkin/zipkin
    container_name: bp_zipkin
    ports:
      - "9411:9411"
networks:
  default-network:
    driver: bridge
